$lg: 1080px;
$md: 865px;
$sm: 775px;

.nav__topo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;



    .lista__topo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 3rem;

        
        .lista__auth {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 3rem;
            background: var(--destaque) !important;
            color: var(--f_texto) !important;
            height: 100%;
            padding: 0 5%;
    
        }

        .item__lista__topo {
            height: var(--header);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--hover);
            
            .link__lista__topo {
                font-size: var(--f_texto);
            }

            &:hover {
                border-bottom: var(--borda_hover);
            }
            
            &:active {
                border-bottom: var(--borda_active);
            }
        }
    }

    .admin__reg {
        background: var(--destaque) !important;
        padding: 0 5%;

        .item__lista__topo {
            font-weight: 700;
        }
    }
}



@media screen and (max-width: $sm) {
    .lista__topo {
        display: none !important;
    }
}