// PAREU AQUI

section.post__page {
    width: 100%;

    .container__post {
        display: flex;
        flex-direction: column;
        align-items: center;

        .titulos__post {
            display: flex;
            flex-direction: column;
            h1 {
                // PAREU AQUI
                // PAREU AQUI
                // PAREU AQUI
                // PAREU AQUI
                // PAREU AQUI
            }

            p {

            }
        }

        .img__capa__post {
            
            img {

            }
       
        }

        .conteudo__post {

            .legenda__topo__post {

            }

            .corpo__post {

            }
        }

    }
}