section.about {
    
    width: 100%;

    .container__about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .me__about {
            flex: 1;

            img {
                width: 100%;
            }
        }

        .texto__about {
            flex: 1;
            
            display: flex;
            flex-direction: column;
            
            .titulo__about {

                display: flex;
                flex-direction: column;
                margin: 1rem 0;

                h3 {
                    font-size: var(--f_titulo);
                    color: var(--texto);
                }
                
                h1 {
                    color: var(--texto);
                    font-size: var(--f_destaque);
                }
            }
            
            .container__about {
                p {
                    color: var(--texto);
                    font-size: var(--f_texto);
                }
            }
        }
    }
}



@media screen and (max-width: 840px) {
    .container__about {
        flex-direction: column !important;
        text-align: center;
        justify-content: center;
        align-items: center;

        .me__about {
            
            img {
                width: 90% !important;
            }
        }

        .texto__about {

            .conteudo__about {
                p {
                    width: 70%;
                    margin: 0 auto !important;
                }
            }
        }
    }
}