$lg: 1080px;
$md: 865px;
$sm: 650px;

header.topo {
    width: 100%;
    border-bottom: var(--borda);

    .container__topo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: $sm) {
    .container__topo {
        flex-direction: column;
        justify-content: center;
    }
}


